img{
	width: 170px;
	height: 100px;
}

.divimg1{
    width: 100%;
	height: 120px;
	background-color: #D78289;
	border: solid;
	border-width: 5px;
	border-color: #D78289;
	margin-bottom: 20px;
}

input{
   width: 45px; 
}

.divimg1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    align-items: center;
}

p, span{
    color: black;
}

.quantity span{
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.quantity span:nth-child(2){
    background-color: transparent;
    color: white;
}

h1{
    text-align: center;
}

body{
    background-color: #FADAD9;
}

.calculation{
    margin-top: 50px;
    width: 200px;
    background-color: #C65C69;
    float: right;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    color: white;
}

section{
    margin-top: 20px;
}

button{
    color: white;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #C65C69;
}

.buttonL{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    gap: 10px;
}

#navbarlinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #C65C69;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 200px;
}

#navbarlinks li{
    float: left;
}

#navbarlinks li a{
    display: block;
    color: #FADAD9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbarlinks li a:hover{
    background-color: #E0959C;
    color: #C65C69;
}

#navbarlinks li a:active{
    background-color: #C65C69;
}

h1, p, span{
    font-family: "Times New Roman", sans-serif, serif;
}

@media (max-width: 600px){
    img{
	width: 100px;
	height: 70px;
    }

    .divimg1{
    width: 100%;
	height: 100px;
    }
    
    #navbarlinks{
    width: 100%;
    gap: 100px;
    }
}