h1, h3{
    text-align: center;
    font-family: "Times New Roman", sans-serif, serif;
}

body{
    background-color: #FADAD9;
}

.box{
    display: flex;
    justify-content:center ;
}

button{
    color: white;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    margin-left: 30%;
    border-radius: 20px;
    border: none;
    background-color: #C65C69;
}


.box2{
    background-color: #E9ABAE;
    width: 300px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;
}

#heading{
    background-color: #E9ABAE;
    width: 500px;
    height: 100px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

button:hover{
    background-color: #FADAD9;
    color: #C65C69;
}

#index{
    margin-top: 10%;
}