body{
    background-color: #FADAD9;
}

input{
    margin-bottom: 30px;
    width: 80%;
    padding: 12px;
    border: solid;
    border-width: 2px;
    border-color: #C65C69;
    border-radius: 7px;
}

button{
    color: white;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #C65C69;
}

.buttonL{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button:hover{
    background-color: #FADAD9;
    color: #C65C69;
}

h1, h3{
    text-align: center;
}

h1, h3, label{
    font-family: "Times New Roman", sans-serif, serif;
}

section{
    margin-top: 50px;
}